<app-topo></app-topo>

<div *ngIf="!jogoEncerrado; else fimDeJogo" >
	<app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col">
					<h3 style="text-align: center;">Fim de jogo, você {{tipoEncerramento}}!</h3>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col">
					<div class=" d-flex justify-content-center">
						<button type="button" class="btn btn-light btn-lg" 
						(click) = "reiniciarJogo()">Reiniciar Jogo</button>
					</div>				
				</div>
			</div>
		</div>
	</div>

</ng-template>